<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t('comments.email.notification_body') %>:</h1>
		<p>
			<%= t('comments.email.view_post') %>: <%= link_to @post.title, @url %>
		</p>
		<br/>
		<p>
		<%= "#{t('comments.email.blog_of')} #{APP_CONFIG['site_url']}" %>
		</p>
  </body>
</html>


